@using PastaPalete.Client.Components;
@inherits LayoutComponentBase;

<div class="flex-col w-full">
    <div class="relative flex flex-col">
        <Title AdditionalCss="text-pp-5xl text-center"/>
        <div class="flex justify-center w-full text-white bg-black font-extralight font-libre text-pp-sm">
            <NavLink class="p-4 hover:bg-black" href="/" Match=@(NavLinkMatch.All)
                ActiveClass="text-pasta-palete-yellow-2">
                Home
            </NavLink>
            <NavLink class="p-4 hover:bg-black" href="about" ActiveClass="text-pasta-palete-yellow-2">
                About
            </NavLink>
            <NavLink class="p-4 hover:bg-black" href="cooking" ActiveClass="text-pasta-palete-yellow-2" @onmouseover=@(() => { toShowCookingNavigation = true; }) @onmouseleave=@(() => { toShowCookingNavigation = false; })>
                Cooking
            </NavLink>
            <NavLink class="p-4 hover:bg-black" href="culture" ActiveClass="text-pasta-palete-yellow-2">
                Culture
            </NavLink>
            <NavLink class="p-4 hover:bg-black" href="contact" ActiveClass="text-pasta-palete-yellow-2">
                Contact
            </NavLink>
        </div>
        @if (toShowCookingNavigation)
        {
            <CookingNavigation/>
    }
    </div>
    <main>
        @Body
    </main>
    <div class="bg-black">
        <Footer />
    </div>
</div>


@code {
    private bool toShowCookingNavigation { get; set; }
}