@inherits LayoutComponentBase

<div class="flex-col w-full">
    <div class="flex flex-col">
        <div class="w-full font-normal text-center text-white bg-pasta-palete-black font-source text-pp-5xl">
            Pasta Palete
        </div>
        <div class="flex justify-center w-full text-white font-extralight font-libre bg-pasta-palete-black text-pp-sm">
            <NavLink class="p-4 hover:bg-black" href="/" Match=@(NavLinkMatch.All) ActiveClass="text-pasta-palete-yellow-2">
                Home
            </NavLink>
            <NavLink class="p-4 hover:bg-black" href="about" ActiveClass="text-pasta-palete-yellow-2">
                About
            </NavLink>
            <NavLink class="p-4 hover:bg-black" href="cooking" ActiveClass="text-pasta-palete-yellow-2">
                Cooking
            </NavLink>
            <NavLink class="p-4 hover:bg-black" href="contact" ActiveClass="text-pasta-palete-yellow-2">
                Contact
            </NavLink>
        </div>
    </div>
    <main>
        @Body
    </main>
</div>

