@inherits LayoutComponentBase

<div class="flex-col w-full">
    <div class="flex flex-col">
        <div class="w-full font-normal text-center text-white bg-pasta-palete-black font-source text-pp-5xl">
            Pasta Palete
        </div>
        <div class="flex justify-center w-full text-white font-extralight font-libre bg-pasta-palete-black text-pp-sm">
            <button class="p-4 text-pasta-palete-yellow-2">
                Home
            </button>
            <button class="p-4 hover:bg-black">
                About
            </button>
            <button class="p-4 hover:bg-black">
                Cooking
            </button>
            <button class="p-4 hover:bg-black">
                Contact
            </button>
        </div>
    </div>
    <main>
        @Body
    </main>
</div>

