@using PastaPalete.Client.Components;

@page "/about"

<div class="flex flex-col w-full">
    <div class="flex justify-center w-full bg-white py-7">
        <div class="flex flex-col w-460px">
            <Tag TagName="About" Class="self-center"/>
            <label class="font-bold text-center text-pp-4xl font-open">
                Pasta Palete: Then and Now
            </label>
            <span class="text-center text-gray-500 text-pp-2xl">
                What we believe in and what we strive to be
            </span>
        </div>
    </div>
    <div class="flex w-full py-8 pr-8 bg-pasta-palete-yellow pl-100px">
        <p class="flex-1 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, possimus. Nulla laborum excepturi commodi corrupti. Nulla sunt quaerat libero tenetur, ratione a veritatis amet dolorem autem incidunt. Officiis, accusantium cumque?
        </p>
        <div class="flex flex-col flex-1 space-y-3">
            <img src="images/About/pexels-klaus-nielsen-6287530.jpg" class="object-cover object-bottom w-auto h-32rem">
            <img src="images/About/pexels-fauxels-3184184.jpg" class="object-cover object-center w-auto h-32rem">
            <img src="images/About/pexels-klaus-nielsen-6287329.jpg" class="object-cover object-center w-auto h-32rem">
        </div>
    </div>
    <div class="flex justify-center w-full p-8 bg-white">
        <div class="flex justify-end flex-1">
            <img src="images/About/pexels-darina-belonogova-7959665.jpg" class="object-cover object-right-top w-auto h-611px">
        </div>
        <div class="flex flex-col flex-1">
            <span class="text-pp-4xl">
                Pata Palate Editor in Chief
            </span>
            <span class="text-pp-5xl">
                Ms. Ipsum Dolor
            </span>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi aut, aliquid deserunt debitis beatae perferendis fugit pariatur sed, expedita alias temporibus, dignissimos error quae repudiandae rem ab. Magnam, id reprehenderit?
            </p>
        </div>
    </div>
</div>