@using PastaPalete.Client.Components;

@page "/cooking"

<div class="flex flex-col w-full px-10">
    <div class="flex flex-col w-full space-y-4 divide-y-2 divide-black">
        <Subtitle SubHeader="Pasta Sauces" />
        <div class="flex pt-58px space-x-28px">
            <CookingItem ImgSrc="images/Products/pexels-andré-rytz-6714026.jpg" Title="Amet" Summary="Blandit" Rating=5/>
            <CookingItem ImgSrc="images/Products/pexels-eat-kubba-6836092.jpg" Title="Amet" Summary="Blandit" Rating=5/>
            <CookingItem ImgSrc="images/Products/pexels-lgh-1256875.jpg" Title="Amet" Summary="Blandit" Rating=5/>
        </div>
        <div class="flex pt-58px space-x-28px">
            <CookingItem ImgSrc="images/Products/pexels-elif-tekkaya-10966436.jpg" Title="Amet" Summary="Blandit" Rating=5/>
            <CookingItem ImgSrc="images/Products/pexels-nadin-sh-17517940.jpg" Title="Amet" Summary="Blandit" Rating=5/>
            <CookingItem ImgSrc="images/Products/pexels-nadin-sh-16594960.jpg" Title="Amet" Summary="Blandit" Rating=5/>
            </div>
        <div class="flex pt-58px space-x-28px">
            <CookingItem ImgSrc="images/Products/pexels-max-griss-11889302.jpg" Title="Amet" Summary="Blandit" Rating=5/>
            <CookingItem ImgSrc="images/Products/pexels-elif-tekkaya-10966377.jpg" Title="Amet" Summary="Blandit" Rating=5/>
            <CookingItem ImgSrc="images/Products/pexels-archie-binamira-959926.jpg" Title="Amet" Summary="Blandit" Rating=5/>
        </div>
    </div>
    <div class="self-center py-12">
        <div class="flex justify-center space-x-4 text-white bg-black">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
    </div>
</div>