@page "/"

<div class="flex flex-col w-full text">
    <div class="w-full odd:text-black odd:bg-pasta-palete-yellow">
        WOW
    </div>
    <div class="w-full odd:text-black odd:bg-pasta-palete-yellow">
        WOW
    </div>
    <div class="w-full odd:text-black odd:bg-pasta-palete-yellow">
        WOW
    </div>
    <div class="w-full odd:text-black odd:bg-pasta-palete-yellow">
        WOW
    </div>
    <div class="w-full odd:text-black odd:bg-pasta-palete-yellow">
        WOW
    </div>
    <div class="w-full odd:text-black odd:bg-pasta-palete-yellow">
        WOW
    </div>
</div>