<div class="absolute bottom-0 w-full text-white translate-y-full bg-black border-t border-white">
    <div class="flex justify-between p-7">
        <div class="flex flex-col divide-y divide-white">
            <NavLink href="cooking/pastasauces">Pasta Sauces</NavLink>
            <NavLink href="cooking/pastafromscratch">Pasta From Scratch</NavLink>
            <NavLink href="cooking/featuredpasta">Featured Popular Pasta Recipes</NavLink>
        </div>
        <div class="bg-black">
            <div class="bg-gradient-to-r from-pasta-palete-yellow-2 via-pasta-palete-yellow-2 via-50% to-black to-50%">
                <div class="flex flex-col space-y-1px ">
                    <span class="bg-black">The Classics</span>
                    <div class="flex flex-col pt-3 bg-black">
                        <span>Ragu</span>
                        <span>Carbonara</span>
                        <span>Lasagna auces</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="bg-gradient-to-r from-pasta-palete-yellow-2 via-pasta-palete-yellow-2 via-50% to-black to-50%">
            <div class="flex flex-col space-y-1px">
                <span class="bg-black">Featured Recipes</span>
                <div class="flex pt-3 space-x-5 bg-black">
                    <div class="flex flex-col">
                        <img class="object-cover w-40 h-16"
                            src="images/Navigation/jason-leung-AUAuEgUxg5Q-unsplash.jpg">
                        <span>Some Pasta</span>
                    </div>
                    <div class="flex flex-col">
                        <img class="object-cover w-40 h-16" src="images/Navigation/pexels-engin-akyurt-11196111.jpg">
                        <span>Some Pasta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
