<div class="flex flex-col px-4 space-y-3 ">
    <img src="images/pexels-cottonbro-studio-4057736.jpg" class="object-cover object-bottom w-auto h-96"/>
    <button class="text-white bg-pasta-palete-black w-14">
        Recipe
    </button>
    <label class="font-bold">
        Title
    </label>
    <span>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem ipsa iusto ex minus ut dicta error ea, sapiente a fugiat sunt ipsam, perspiciatis nulla molestiae placeat consectetur consequatur nam distinctio!
    </span>
</div>  