<div class="flex flex-col px-10 text-white divide-y-2 divide-white pb-7">
    <div class="flex px-2 pt-10 pb-8">
        <div class="flex flex-col self-end flex-1 space-y-1">
            <Title AdditionalCss="text-pp-3xl" />
            <Socials />
        </div>
        <div class="flex space-x-32 text-pp-sm">
            <div class="flex flex-col space-y-3">
                <label class="font-averia">
                    MORE FROM PASTA PALETE
                </label>
                <div class="flex flex-col font-work text-pp-xsm">
                    <label>
                        COOKING
                    </label>
                    <label>
                        ABOUT
                    </label>
                    <label>
                        CULTURE
                    </label>
                </div>
            </div>
            <div class="flex flex-col">
                <label class="font-averia">
                    CONTACT
                </label>
                <label class="font-work text-pp-xsm">
                    SUGGESTION BOX
                </label>
            </div>
        </div>
    </div>
    <span class="flex">
        © 2023 Pasta Palete. All rights reserved.
    </span>
</div>