<div class="flex flex-col px-10 text-white divide-y-2 divide-white pb-7">
    <div class="flex px-2 pt-10 pb-8">
        <div class="flex justify-start flex-1">
            <div class="flex self-end space-x-8">
                <img src="images/footer/facebook.webp" class="self-center w-8 h-8">
                <img src="images/footer/instagram.webp" class="self-center h-7 w-7">
                <img src="images/footer/twitter.webp" class="self-center w-7 h-7">
                <img src="images/footer/youtube.webp" class="self-center w-8 h-8">
            </div>
        </div>
        <div class="flex space-x-32 text-pp-sm">
            <div class="flex flex-col space-y-3">
                <label class="font-averia">
                    MORE FROM PASTA PALETE
                </label>
                <div class="flex flex-col font-work text-pp-xsm">
                    <label>
                        COOKING
                    </label>
                    <label>
                        ABOUT
                    </label>
                    <label>
                        CULTURE
                    </label>
                </div>
            </div>
            <div class="flex flex-col">
                <label class="font-averia">
                    CONTACT
                </label>
                <label class="font-work text-pp-xsm">
                    SUGGESTION BOX
                </label>
            </div>
        </div>
    </div>
    <span class="flex">
        © 2023 Pasta Palete. All rights reserved.
    </span>
</div>